<!DOCTYPE html>
<html>
<head>
  <title>Csv importer</title>
  <%= stylesheet_link_tag    "csv_importer/application", media: "all" %>
  <%= javascript_include_tag "csv_importer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
